{{#allEdicts}}

<div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">Edicts</div>

    <ul class="list-group">

      <li class=list-group-item>
        Holidays: <select value="{{selected.holiday}}">
        {{#holidays:i}}
        <option value="{{.}}">{{label}}</option>
        {{/holidays}}
      </select>

        {{#selected.holiday}}
        {{label}}
        {{/selected.holiday}}
      </li>


      <li class=list-group-item>

        Taxation: <select value="{{selected.taxation}}">
        {{#taxation:i}}
        <option value="{{.}}">{{label}}</option>
        {{/taxation}}
      </select>

        {{#selected.taxation}}
        {{label}}
        {{/selected.taxation}}
      </li>
      <li class=list-group-item>


        Promotion: <select value="{{selected.promotion}}">
        {{#promotion:i}}
        <option value="{{.}}">{{label}}</option>
        {{/promotion}}
      </select>

        {{#selected.promotion}}
        {{label}}
        {{/selected.promotion}}
      </li>

      <li class="list-group-item">
        {{#selected}}
          <button on-click="selectedEdictsChanged">update</button>
        {{/selected}}
      </li>
    </ul>

  </div>


</div>
{{/allEdicts}}



