<div class="row">
  <div class="col-lg-2">
    <button type="button" class="btn btn-default" on-click="saveEditables">Save</button>
    <button type="button" class="btn btn-default" on-click="loadEditables">Load</button>
  </div>

  <div class="col-lg-1">
    <div class="form-group">
      {{#singleValues}}
        <label for="unrest"> Unrest: </label>
        <input id="unrest" class="form-control" type="text" value="{{unrest}}">

        <label for="treasury">Treasury:</label>
        <input id="treasury"  class="form-control" type="text" value="{{treasury}}">
      {{/singleValues}}
    </div>

  </div>
</div>

<div class=row>

  <div id="checks" class="col-lg-2">
    {{>checks}}
  </div>

  <div id="edicts" class="col-lg-4">
    {{>edicts}}
  </div>

</div>

<div class="row">

  <div id="lists" class="col-lg-8">
    {{>lists}}
  </div>

  <div id="editor" class="col-lg-2">
  </div>
</div>

<!-- THE FOLLOWING IS AN INLINE TEMPLATE IDENTIFIER, NOT A COMMENT  -->
  <!-- FURTHERMORE, these should really be inline templates in the lists/leaders files, but
      there appears to be a bug/lack of feature in Ractive that currently prohibits that-->

<!-- {{>nonEditableModifier}} -->
<div class="list-group">
  <h5 class="list-group-item-heading">
    {{name}}
  </h5>
  {{#modifiers:key}}
  <p class="list-group-item-text">
    {{key}}: {{.}}
  </p>
  {{/modifiers}}
</div>
<!-- {{/nonEditableModifier}} -->
