<div id="checks" class="row">
  {{>checks}}
  <div id="editor">
  </div>
</div>



<div class="row">
  <div id="edicts" class="col-lg-12">
    {{>edicts}}
  </div>
</div>

<div id="lists" class="row">
    {{>lists}}
</div>

<div id="leaders" class="col-lg-6">
  {{>leaders}}
</div>

<!-- THE FOLLOWING IS AN INLINE TEMPLATE IDENTIFIER, NOT A COMMENT  -->
  <!-- FURTHERMORE, these should really be inline templates in the lists/leaders files, but
      there appears to be a bug/lack of feature in Ractive that currently prohibits that-->

<!-- {{>nonEditableModifier}} -->
<div class="list-group">
  <h5 class="list-group-item-heading">
    {{name}}
  </h5>
  {{#modifiers:key}}
  <p class="list-group-item-text">
    {{key}}: {{.}}
  </p>
  {{/modifiers}}
</div>
<!-- {{/nonEditableModifier}} -->


<!-- {{>editableModifier}} -->
<!-- NOTE: the mustache will not render if the modifier is undefined, so this is a cheap trick to not know
         the modifier provided by the thing. I may instead wish to put a "name" property on the modifier obj.
         Also, these checks can technically be negative, and slots can be unfilled. -->

{{#stability != undefined}}Stability: <input type="text" value="{{stability}}" on-change="onChange">{{/stability}}
{{#economy  != undefined}}Economy: <input type="text" value="{{economy}}" on-change="onChange">{{/economy}}
{{#loyalty  != undefined}}Loyalty: <input type="text" value="{{loyalty}}" on-change="onChange">{{/loyalty}}
{{#consumption != undefined}} Consumption: <input type="text" value="{{consumption}}" on-change="onChange">{{/consumption}}
<!-- {{/editableModifier}} -->

